doctype html
html
  head
    title= `${title}`
    meta(name="viewport" content="width=device-width, intitial-scale=1")
    link(rel="stylesheet", href="/css/style.css")

  body
    h1 Ologies Object Table
    a(href='/update-cobj') Add/Update this table
    table
        tr 
            th Name 
            th Description 
            th Years to study
        each ology in data 
            tr 
                td #{ology.properties.name}
                td #{ology.properties.description}
                td #{ology.properties.years_to_study}
